# Exercises:

Reverse the tuple Given:tuple1 = (10, 20, 30, 40, 50) Expected output:(50, 40, 30, 20, 10)
Use tuple slicing to reverse the given tuple. Note: the last element starts at -1.

Create a tuple with single item 50

Counts the number of occurrences of item 50 from a tuple Given: tuple1 = (50, 10, 60, 70, 50) Expected output: 2

Use the count() method of a tuple.

Check if all items in the tuple are the same tuple1 = (45, 45, 45, 45) Expected output: True

In [2]:
T= (10,20,30,40,50)

In [40]:
T[::-1]

(50, 40, 30, 20, 10)

In [41]:
T

(10, 20, 30, 40, 50)

In [42]:
T[-1]

50

In [43]:
Tuple1=(50.,10,60,70,50)

In [49]:
Tuple1.count(50)

2

In [59]:
Tuple1=(45,45,45,45)

In [62]:
Tuple1==Tuple1

True

In [64]:
#string Home work

In [ ]:
#1.Print the name of your school in anaconda
#2.Print three words let each word be on its own line
#3.Use len to give me the size of the word ‘anaconda’

In [13]:
print("Able high school")

Able high school

In [5]:
print('Able \nhigh\nschool')

Able
high
school

In [6]:
print('anaconda')

anaconda

In [9]:
len('anaconda')

8

In [ ]:
# string Methods

In [ ]:
# .index()
#print()
#.replace()
#.find()
#.count()
#len()
#center()
#float()
#format()
#capitaliza()

In [136]:
#Index this allows you to grab a single charater from a string  for example: name= 'hello' 
#Print this helps to print out the actual string with out the in and out e.g print ("hello") expected out come hello
#Repleace this allows to replace a world or letter in a string. e.g mystring = "the sun is very bright" 
# Float allows to adjust the width and precision of the floating number "{value:width.precision f}" for example. result= 104.12345.  print("the result was {r}".format(r=result))
# Capitalize for example. name="sam".  name.capitalize() expected out come is  "Sam"
# Count this allows to count how many times aspecified number,letter or words is a appering in a string. e.g mystring = "there is no tomatoe paste today". mysting.count("t"). expected out come is (5)
#Find this allows to know the position of a letter of number in a string. for example mystring = "set". mysting.find("e"). expected out come is (1)
#Len this allows to show the total number of letters in a string. for example. mystring="Hello". len("Hello") out come is (5)
# Center this returns the centred string 
# #format this allows to format specified values in the string. for example. print('this is a string{}'.format('input')). expected out come is (this is a string input)

In [1]:
#Exercises:

How do you add an element to a set
How does a set differ from a List
What is the result of set[1,2,1,4,2,4,1]
What is the result of Len (set([1,2,1,4,2,4,1]))
Given:
set1 = {10, 20, 30, 40, 50} set2 = {30, 40, 50, 60, 70}

Expected output:{70, 40, 10, 50, 20, 60, 30} Use the union() method of a set.

Given:
set1 = {10, 20, 30, 40, 50} set2 = {30, 40, 50, 60, 70} Expected output:{20, 70, 10, 60} Use the symmetric_difference() method of a set.

Given:
set1 = {10, 20, 30, 40, 50} set2 = {30, 40, 50, 60, 70} Expected output:{70, 10, 20, 60} Use the symmetric_difference_update() method of a set.

Given:
set1 = {10, 20, 30, 40, 50} set2 = {30, 40, 50, 60, 70} Expected output:{40, 50, 30} Use the intersection_update() method of a set.

SyntaxError: invalid syntax (3833901844.py, line 3)

In [87]:
#How do you add an element to a set
Myset = set()

In [88]:
Myset

set()

In [89]:
Myset.add(1)

In [91]:
Myset

{1}

In [92]:
#How does a set differ from a List
#A set are a collection of unique elements. hey dont allow for duplicate items while lists are an ordered sequence of objects

In [93]:
#What is the result of set[1,2,1,4,2,4,1]
#set[124]

In [94]:
#What is the result of Len (set([1,2,1,4,2,4,1]))
set=(1,2,1,4,2,4,1)

In [129]:
.Len(set([1,2,1,4,2,4,1]))

SyntaxError: invalid syntax (3973020156.py, line 1)

In [101]:
set1 = {10, 20, 30, 40, 50} 
set2 = {30, 40, 50, 60, 70}

In [102]:
set1.union (set2)

{10, 20, 30, 40, 50, 60, 70}

In [103]:
set1 = {10, 20, 30, 40, 50} 
set2 = {30, 40, 50, 60, 70}

In [106]:
set1.symmetric_difference(set2)

{10, 20, 60, 70}

In [113]:
set1 = {10, 20, 30, 40, 50} 
set2 = {30, 40, 50, 60, 70}

In [132]:
set1.symmetric_difference_update(set2)

In [114]:
set1 = {10, 20, 30, 40, 50} 
set2 = {30, 40, 50, 60, 70}

In [126]:
set1.intersection_update(set2)